- content_for(:title) do
  Listing bands

%table
  %tr
    %th Name
    %th Location
    %th
    %th
    %th

  - @bands.each do |band|
    %tr
      %td= link_to band.name, band
      %td= band.location
      %td= link_to 'Show', band
      %td= link_to 'Edit', edit_band_path(band)
      %td= link_to 'Destroy', band, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Band', new_band_path
