= simple_form_for([@band, @tour, @show]) do |f|
  = f.error_notification

  .inputs
    = f.input :date
    = field_set_tag "Venue" do
      = f.simple_fields_for :venue, @show.venue || Venue.new do |venue|
        = venue.input :name

  .actions
    = f.button :submit
